<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><i class="fa fa-home"></i> TimeTrialResults</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li s7-user-links class="dropdown"></li>
        </ul>

    </div>
</nav>

<div class="container">

    <h1>News <small>TimeTrialResults news feed</small></h1>
    <hr />

    <h3>user settings <small>21st July 2016</small></h3>
    <p>
        Prototype site for TT results.<br />
    </p>

 

</div>